*{
	margin: 0px;
	padding: 0px;
}
body{
	
}
a{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}
p{
	line-height: 150%;
	margin-bottom: 2em;
}
.fix{
	overflow: hidden;
}
.container_full{
	width: 100%;
}
.header_bg{
	background: #292929;
}
.container{
	width: 980px;
	display: block;
	margin: 0 auto;
}

#header .logo_left{
	float: left;
}
#header .logo_left h1{
	font-family: lato;
	font-weight: bold;
	font-size: 40px;
	color: #fff;
	padding-top: 30px;
}
#header>nav{
	float: right;
	
}
#header>nav ul{
	list-style: none;
}
#header>nav ul li{
	float: left;
	border-left: 1px solid #1E1E1E;
}
#header>nav ul li:last-child{
	border-right: 1px solid #1E1E1E;
}
#header>nav ul li a{
	font-family: lato;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	display: block;
	padding: 50px 30px;
	text-transform: capitalize;
	border-bottom: 5px solid #1E1E1E;
	
}
#header>nav ul li a:hover{
	border-bottom: 5px solid #41C84E;
	color: #41C84E;
}
#header>nav ul li.active a{
	border-bottom: 5px solid #41C84E;
	color: #41C84E;
}
.content_bg{
	border-top: 5px solid #1E1E1E;
	border-bottom: 1px solid #E1E0E0;
	margin-top: -5px;
}
.content_wrapper{
	border-right: 1px solid #E1E0E0;
	border-left: 1px solid #E1E0E0;
	padding-top: 75px;
	overflow: hidden;
}
.content_left{
	float: left;
	width: 620px;
	margin-right: 70px;
}
.content_left .single_post_wrapper{
	overflow: hidden;
	margin-bottom: 80px;
}
.content_left .single_post_wrapper img{
	width: 620px;
	height: 308px;
}
.content_left .single_post_wrapper h2{
	font-family: lato;
	font-weight: bold;
	font-size: 28px;
	color: #4f4e4e;
	text-transform: uppercase;
	padding-left: 15px;
	padding-top: 15px;
}
.content_left .single_post_wrapper p{
	font-family: lato;
	font-size: 16px;
	color: #4f4e4e;
	padding-left: 15px;
	padding-top: 30px;
}
.content_left .single_post_wrapper .continue_r{
	font-family: lato;
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
	color: #c2c1c1;
	border: 1px solid #c2c2c2;
	border-radius: 30px;
	padding: 10px 30px;
	display: inline-block;
	margin-left: 20px;
}
#sidebar{
	float: right;
	overflow: hidden;
	width: 280px;
}
#sidebar .single_sidebar h2{
	font-family: lato;
    font-weight: bold;
    font-size: 16px;
	background: #faf9f9;
    color: #6c6969;
    text-transform: uppercase;
    border-left: 3px solid #41C84E;
    padding: 10px;
    padding-left: 20px;
	pointer-events:none;
}
#sidebar .single_sidebar p{
	font-family: lato;
	font-size: 16px;
	color: #4f4e4e;
	padding-right: 4px;
	padding-left: 10px;
}
.single_sidebar{
	margin-bottom: 40px;
	overflow: hidden;
}
#sidebar .single_sidebar .search_box{
	float: right;
	width: 280px;
	height: 50px;
	border: 1px solid #E1E0E0;
	border-right: none;
	outline:none;
	
}
#sidebar .single_sidebar .email_submit{
	position: relative;
}
#sidebar .single_sidebar .email_submit input{
	width: 280px;
	height: 50px;
	border: 1px solid #E1E0E0;
	border-right: none;
	outline:none;
	
}
#sidebar .single_sidebar .email_submit input[type="submit"]{
	float: right;
	background:url(img/search_icon.png) no-repeat;
	width: 24px;
	height: 24px;
	text-indent: -99999px;
	border: none;
	outline:none;
	position: absolute;
	top: 15px;
	right: 20px;
	cursor: pointer;
	
}

.single_sidebar input[type="search"], .single_sidebar input[type="email"]{
	padding-left:10px;
}
/*
.single_sidebar input[type="search"], .single_sidebar input [type="email"]{
	padding-left: 10px;
}*/
.content_bottom{
	border-right: 1px solid #E1E0E0;
	border-left: 1px solid #E1E0E0;	
	border-top: 1px solid #E1E0E0;
	padding: 20px;
	overflow: hidden;
}
.content_bottom .previous{
	color:#818181;
    font-family: lato;
    font-size: 18px;
	font-weight:bold;
	text-transform: uppercase;
	margin-left: 5px;
	float: left;
}
.content_bottom .next{
	color:#818181;
    font-family: lato;
    font-size: 18px;
	font-weight:bold;
	text-transform: uppercase;
	margin-right: 5px;
	float: right;
}
.footer_bg{
	background: #f6f6f6;
}
#footer{
	text-align: center;
	padding: 50px 0px;
}
#footer>h1{
    font-family: lato;
    font-size: 40px;
	font-weight:bold;
	color:#292929;
}
#footer>p{
	
    font-family: lato;
    font-size: 13px;	
	color:#a6a6a6;
}
#footer>.social_area{
	
}
#footer>.social_area ul{
	list-style: none;
}
#footer>.social_area ul li{
	display: inline-block;
	margin: 0px 10px;
}
#footer>.social_area ul li.facebook a{
	display: block;
	width: 40px;
	height: 40px;
	background:url(img/fb.png) no-repeat;
}
#footer>.social_area ul li a:hover{
	background:url(img/fb1.png) no-repeat;
}
